.nav {
    position: sticky;
    top: 0;
    background-color: rgb(225,232,228, 0.5) !important;
    z-index: 1000; 
    width: 100%;
    box-shadow: 0 4px 2px -15px gray; 
    scroll-behavior: smooth;
}


.site-title {
    font-weight: 650;
    font-size: 30px;
}


.active {
    color: #EAF3E3;
    font-weight: bold; 
}
    